server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: Modulith
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/${DB_NAME:tskhra_db}
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://10.227.164.247:8080/realms/tskhra



