server:
  port: 8082

spring:
  application:
    name: Modulith
  datasource:
    url: jdbc:postgresql://localhost:5432/tskhra_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://10.3.12.234:8080/realms/tskhra



